<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6f34e3d583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body class="oswald-reg">
    <nav>
        <div>
            <span class="fa-solid fa-train-subway" src="#" alt="logo"> </span>
            <h4><a href="/">Chi-Train Tracker</a></h4>
        </div>
        <ul class="list-row">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find Routes</a></li>
            <li><a href="/">Stations</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <header>
       <h1>About us</h1>
    </header>
    <main class="main--about flex">
        <section class="about--mainTop flex">
            <div class="about--leftTop">
                <h2>What we do</h2>
                <p>Chi-Train Tracker is an user-focused app hoping to make catching the train an easier task for commuters. We want to make this resource as accessible as possible</p>
            </div>
            <div class="about--rightTop">
                <img src="/images/train-small.jpg" alt="">
            </div>
        </section>
        <section class="about--mainBottom flex">
            <h2 class="jersey-10-charted-reg">How it works</h2>
                <div>
                    <div class="about--bottomHeader">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    
                        <h4>Station Info</h4>
                    </div>
                  
                    <p>Users can input the station name to find which trains are arriving and when</p>
                </div>
                <div>
                    <div class="about--bottomHeader">
                        <i class="fa-solid fa-user"></i>
                        <h4>Innovation</h4>
                    </div>
                   
                    <p>Chi-Train Tracker aims to continually optimize its platform to be extremely readable for new-timers to CTA's train system </p>
                </div>
                <div>
                    <div class="about--bottomHeader">
                        <i class="fa-solid fa-lightbulb"></i>
                        <h4>CTA API</h4>
                    </div>
                  
                    <p>The <a href="https://www.transitchicago.com/developers/ttdocs/">Chicago Transit Authority(CTA) </a> makes this app possible, and we hope to match their vision of innovating a tracker for Chicago locals and vistors.</p>
                </div>
        </section>
        
    </main>
    <footer>
        <ul class="list-row">
            <li><a href="/">Info</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </footer>
</body>
</html>