<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6f34e3d583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Home</title>
</head>
<body class="oswald-reg">
    <nav>
        <div>
            <span class="fa-solid fa-train-subway" src="#" alt="logo"> </span>
            <h4><a href="/">Chi-Train Tracker</a></h4>
        </div>
        <ul class="list-row">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find Routes</a></li>
            <li><a href="#">Stations</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <header>
        <h1>Get Train Station info</h1>
    </header>
    <main class=" main--home home--heroImg"> 
        <img src="/images/train-small.jpg" alt="">
        <div>
            <h1 class="jersey-10-charted-reg">Chicago's Train Tracker</h1>
            <h3>Find your stations schedule!</h3>
            <form class="home--form" action="/search">
                <input class="button" type="submit" value="GO">
            </form>
        </div>
    </main>
  


    <footer>
        <ul class="list-row">
            <li><a href="/">Info</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </footer>
</body>
</html>