<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6f34e3d583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Get Schedule</title>
</head>
<body class="oswald-reg">
    <nav>
        <div>
            <span class="fa-solid fa-train-subway" src="#" alt="logo"> </span>
            <h4><a href="/">Chi-Train Tracker</a></h4>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find Routes</a></li>
            <li><a href="/">Stations</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <header>
        <h1>Get Your stations schedule</h1>
        <p>Search station by station Name to find trains operating there</p>
     </header>

     <main class=" main--search">
        <h2>Please input the station name</h2>

        <!-- <form action="/search/getSchedule">
            <input type="text" placeholder="zipcode">
            
        </form> -->
        <form action="/search/getSchedule">
            <input list="browsers" name="zipcode" type="text" id="zipcodeInput">
            <datalist id="browsers">
               <!-- <% for (let i = 0 ; i < data.length ; i++){ %>
                <option data-value="<%=data[i].map_id%>"><%=data[i].stop_name %></option>
            
               <% } %> -->
              <option value="40830">
              <!-- <option value="40120">
              <option value="41120">
              <option value="41270">
              <option value="41230"> -->
            </datalist> 
            <input type="submit" value="Find" class="zipcode-submit button">
          </form>
     </main>
     <footer>
        <ul>
            <li><a href="/">Info</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </footer>
</body>
</html>